/* Global Styles */
body {
  background-color: #f7eedd59;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* Vintage Background Pattern */
body::after {
  content: "";
  background-image: url("/images/Music\ Background\ stock\ image_\ Image\ of\ ragged\,\ page\,\ piano\ -\ 19309863.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

h1 {
  color: #9d756d;
  text-align: center;
  font-size: 60px;
  margin: 20px 0;
  /* Aesthetic Text Style */
  font-family: 'Shadows Into Light', cursive;                                          
  text-shadow: 2px 2px 2px #ccc;
}

h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
}

p {
  color: #7f7f7f;
  margin-top: 0;
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
  /* Aesthetic Text Style */
  font-family: "Handlee", cursive;
}

/* Navigation */
nav {
  background-color: rgba(157, 117, 109, 0.779);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

nav:hover {
  background-color: rgba(157, 117, 109, 1);
  box-shadow: 0 0 10px rgba(157, 117, 109, 0.5);
}

.artists {
  color: lavenderblush;
  font-size: 18px;
  padding: 12px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 30px;
  /* Aesthetic Text Style */
  font-family: "Dancing Script", cursive;
}

.artists:hover {
  color: #9d756d;
  background-color: #f7eedd;
}

/* Artist Info */
.display-artist {
  color: rgb(157, 117, 109);
  font-size: 40px;
  text-align: center;
  margin: 0px;
  /* Aesthetic Text Style */
  font-family: 'Shadows Into Light', cursive;

}

.links {
  color: #7f7f7f;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Handlee", cursive;
  text-shadow: 1px 1px 1px #ccc;
}

.links:hover {
  color: #9d756d;
  text-decoration: underline;
}

/* Song Cards */
#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 20px;
  padding: 20px;
  justify-items: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: space-between;
  border: 1px solid #9d756d;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(157, 117, 109, 0.412);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%;
  margin: 10px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  transition: transform 0.3s ease;
  margin: 0; /* Remove margin to center the image properly */
}

.card p {
  color: #321f1f;
  font-size: 20px;
  margin: 0;
  padding: 8px 0; /* Add vertical padding between song details */
}


.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px) scale(1.03); /* Add scale animation on hover */
}

.card:hover img {
  transform: scale(1.1);
}

